
body{
font-style: normal;

}



.main-div{

    display: flex;
    background:#E554731A;
padding-left: 140px;
padding-right: 120px;

}
.header1{
margin-top: 100px;
text-align: center;
margin-right: 50px;
margin-bottom: 50px;

}




.header-title{
    color: #272727;
    font-size: 40px;
    margin-bottom: 32px;
    
    

}
.header-description{
  color:  #27272799;
  font-size: 18px;
 margin-bottom: 32px;
  font-weight: 400;
}
.button-primary{
    border-radius: 5px;
    background: #E55473; 
    font-size: 20px;
   color: white;
    
    font-weight: 700;
}



.header2{
margin-bottom: 0px;
margin-top: 100px;
}
.main-header-1{
margin-top: 100px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
.main-header-title{
    color: #272727;
     
  
    font-size: 40px  
}


.main-header-para{
    font-size: 18px;
   color:#27272799;

    font-weight: 400;

}
.main-div2{
    display: flex;
margin-left: 90px;
text-align: center;
}
.main-div2-sub1{
    width: 350px; height: 500px;
background-color:#A7216226;
margin-right: 15px;
border-radius:250px 250px 0px 0px ;


}
.main-div2-sub2{
background-color:#0597A026;
width: 350px; height: 500px;
margin-right: 15px;
border-radius: 250px 250px 0px 0px;


}
.main-div2-sub3{
background-color:#477D1126 ;
border-radius: 250px 250px 0px 0px;
width: 350px; height: 500px;

}
.flower-title{
    margin-top: 120px;
}
.flower-title2{
    margin-top: 180px;
}



.div2-flower{
    margin-bottom: 0px;
text-align: center;
padding: 15px 15px 0px 15px;

}
.flower-title3{
    margin-top: 75px;
}
.main-div3{

    margin: 300px 240px 300px 240px;
display: flex;
background-color:#2727270D;
padding: 20px 30px 20px 70px;

}

.main-div3-img{
    margin-right: 15px;
}












